#register-section {
    height: 100vh;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.register-side-image {
    background-image: url('../../../../../assets//svg//registration_img_3.svg');
    background-position: center;
    background-size: cover;
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
   /*  background-color: aqua; */
    justify-content: center;
}

.register-form-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
}

.register-form-header h1 {
    color: #ff5a7b;
    opacity: 0.8;
}

.register-form-header p {
    color: #ff5a7b;
    opacity: 0.5;
    margin: 0;
}

.register-form-header a {
    padding: none;
    text-decoration: none;
    color: #622ec2;
}

.register-form-header a:hover {
    opacity: 0.8;
    cursor: pointer;
}

.registration-buttons .mat-mdc-button {
    background-color: #622ec2;
    --mdc-text-button-label-text-color: white;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    border-radius: 0.5rem;
}

.registration-buttons .mat-mdc-button:hover {
    opacity: 0.8;
}

h1 {
    font-weight: bold;
    letter-spacing: 1px;
}

a:hover {
   cursor: pointer;
}

/* .mat-stepper-vertical, .mat-stepper-horizontal {
    border-radius: 1.5rem;
} */

.mat-stepper-vertical {
    margin-top: 8px;
    margin-right: 5px;
}
  
.mat-mdc-form-field {
    display: flex;
    flex-direction: column;
    margin-top: 7px;
}
  