<section id="register-section">
    <div class="register-side-image"></div>
    <div class="register-form">
      <div class="register-form-header">
        <h1 class="fs-2 text-capitalize fw-bold">Administra tu inventario con nosotros</h1>
        <p class="fs-5">¿Ya tienes una cuenta?</p>
        <a (click)="redirectToLogin()" class="fs-5">Iniciar sesión</a>
      </div>

      <mat-stepper orientation="vertical" [linear]="false" #stepper>
          <mat-step [stepControl]="registerForm" errorMessage="Datos vacíos">
            <form [formGroup]="registerForm">
              <ng-template matStepLabel>Datos personales</ng-template>
              <mat-form-field appearance="outline">
                <mat-label>Nombre de Usuario</mat-label>
                <input matInput placeholder="Nombre de usuario" formControlName="username" required>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Correo electrónico</mat-label>
                <input matInput placeholder="E-mail" formControlName="email" type="email" required>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Crear Contraseña</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" autocomplete="off" formControlName="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>                     
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Confirmar Contraseña</mat-label>
                <input 
                  matInput 
                  [type]="hide ? 'password' : 'text'" 
                  autocomplete="off" 
                  formControlName="passwordConfirmation"
                >
                <span *ngIf="registerForm.errors?.['passwordmatcherror']" style="color: red;">La contraseña no coincide</span>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>                     
              </mat-form-field>
              <div>
                <button mat-button matStepperNext>Siguiente</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="businessDataForm" errorMessage="Ingrese el nombre del negocio">
            <form [formGroup]="businessDataForm">
              <ng-template matStepLabel>Negocio</ng-template>
                <mat-form-field appearance="outline">
                  <mat-label>Nombre del Negocio</mat-label>
                  <input matInput formControlName="businessName" placeholder="Ingresar nombre del Negocio"
                    required>
                </mat-form-field>
                <div>
                  <button mat-button matStepperPrevious>Regresar</button>
                  <button mat-button matStepperNext>Siguiente</button>
                </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="businessInvoiceDataForm" errorMessage="Ingresar factura DGI">
              <form [formGroup]="businessInvoiceDataForm">
                <ng-template matStepLabel>Factura DGI</ng-template>
                <mat-form-field appearance="outline">
                  <mat-label>Número de Autorización de Factura</mat-label>
                  <input matInput type="url" formControlName="invoiceAuthorizationNumber" placeholder="A"
                    required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Serie de Factura</mat-label>
                  <input matInput type="url" formControlName="invoiceSerie" placeholder="A"
                    required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Número de Factura</mat-label>
                    <input matInput formControlName="invoiceNumber" placeholder="1"
                      required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Ultima Factura Agregada</mat-label>
                  <input matInput formControlName="lastRegisteredInvoices" placeholder="0"
                    required>
                </mat-form-field>
                <div>
                <button mat-button matStepperPrevious>Regresar</button>
                <button mat-button matStepperNext>Siguiente</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="businessOptionsDataForm" errorMessage="Seleccione una opción">
            <form [formGroup]="businessOptionsDataForm">
              <ng-template matStepLabel>Tipo de Plan y Moneda</ng-template>
              <mat-form-field appearance="outline">
                <mat-label>Tipo de Moneda</mat-label>
                <mat-select formControlName="currencyTypeId" required>
                    <mat-option *ngFor="let currency of currencyType" [value]="currency.id">
                      {{currency.name}}
                    </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Tipo de Plan</mat-label>
                  <mat-select formControlName="planTypeId" required>
                    <mat-option *ngFor="let planType of planType" [value]="planType.id">
                        {{planType.name}}
                    </mat-option>
                </mat-select>
              </mat-form-field>
              <div>
                <button mat-button matStepperPrevious>Regresar</button>
                <button mat-button matStepperNext>Siguiente</button>
              </div>
            </form>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Finalizar</ng-template>
              <div class="registration-buttons my-2">
                <button mat-button matStepperPrevious>Regresar</button>
                <button mat-button (click)="stepper.reset()">Reiniciar</button>
                <button
                  mat-button [disabled]="registerForm.invalid && businessDataForm.invalid"
                  (click)="submitRegistration()"
                  > Registrarme
                </button>
              </div>
            </mat-step>
        </mat-stepper>
    </div>
</section>
