<mat-toolbar class="table-header">
    <mat-icon>
        <span class="material-symbols-outlined">
            info
            </span>
    </mat-icon>
    <div class="mx-2">
        <h2>Centro de Ayuda</h2>
    </div>
</mat-toolbar>

<div class="container">
    <div class="row">
        <div class="col">
            <mat-card class="help-item my-5">
                <div class="image-section">
                    <img src="assets/svg/invoice.svg" width="150px">
                </div>
                <div class="detail-section mx-5">
                    <h2>¿Cómo facturar una nueva venta?</h2>
                    <p>Busque en el navegador la opción <b>Facturar</b>, de click y aparecerá la opción de <b>Facturar nueva venta</b>.</p>
                </div>
            </mat-card>
        </div>
        <div class="col">
            <mat-card class="help-item my-5">
                <div class="image-section">
                    <img src="assets/svg/sales.svg" width="150px">
                </div>
                <div class="detail-section mx-5">
                    <h2>¿Cómo visualizar el historial de ventas?</h2>
                    <p>Busque en el navegador la opción <b>Facturar</b>, de click y aparecerá la opción de <b>Historial de Ventas</b>.</p>
                </div>
            </mat-card>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <mat-card class="help-item my-5">
                <div class="image-section">
                    <img src="assets/svg/stock.svg" width="100px">
                </div>
                <div class="detail-section mx-5">
                    <h2>¿Cómo visualizar el inventario de productos / herramientas de mantenimiento?</h2>
                    <p>En el navegador se muestra la opción <b>Productos</b> y <b>Herramientas</b>.
                         Seleccione la opción que quiera visualizar y se mostrará el inventario correspondiente. </p>
                </div>
            </mat-card>
        </div>   
        <div class="col">
            <mat-card class="help-item my-5">
                <div class="image-section">
                    <img src="assets/svg/addProduct.svg" width="100px">
                </div>
                <div class="detail-section mx-5">
                    <h2>¿Cómo añadir un nuevo producto / herramienta al inventario?</h2>
                    <p>En el navegador se muestra la opción <b>Productos</b> y <b>Herramientas</b>.
                        Seleccione la opción que quiera visualizar y y pulse el botón <b>Añadir nuevo</b>. </p>
                </div>
            </mat-card>
        </div>     
    </div>
</div>