.header {
    background: #1a1853;
    color: #ffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-title {
    max-width: 600px;
}

.header button{
    float: right;
    color: #0e073e;
    border: none;
    max-width: 300px;
}

button .float-right {
    float: right;
}

mat-card {
    /* max-width: 500px; */
    padding: 20px;
    margin-bottom: 1rem;
}

table {
    width: 100%;
}

th {
    width: auto;
}

.mat-mdc-row:hover .mat-mdc-cell {
    background-color: #E8EAF6;
    transition: 0.3s;
}

input {
    background-color: #b5e8fa;
    padding: 16px 32px;
    border: none;
    display: block;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    /*font-weight: 600; */
    color: black;
    -webkit-appearance: none;
    transition: all 240ms ease-out;
    width: 100%;
    
    &::placeholder {
      color: #6d7f8f;
    }
    
    &:focus {
      outline: none;
      color: #6d7f8f;
      background-color: lighten(#e3edf7, 3%);
    }
};