<mat-toolbar>
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
        <span>{{dialogData.action}} Stock </span>
        <span class="spacer"></span>
        <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content>
    <form [formGroup]="productForm" (ngSubmit)="handleSubmit()">
        <div fxLayout="column" fxLayoutAlign="space-evenly-center">
            <mat-form-field appearance="outline">
                <mat-label>Nombre producto</mat-label>
                <input matInput type="text" formControlName="productName" required="">
                <mat-error *ngIf="productForm.controls['productName'].touched && productForm.controls['productName'].invalid">
                    <span *ngIf="productForm.controls['productName'].errors?.['required']">Debe rellenar este campo</span>
                    <span *ngIf="productForm.controls['productName'].errors?.['pattern']">Información invalida</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Stock</mat-label>
                <input matInput type="number" min="0" formControlName="stock" required="">
                <mat-error *ngIf="productForm.controls['stock'].touched && productForm.controls['stock'].invalid">
                    <span *ngIf="productForm.controls['stock'].errors?.['stock']">Debe rellenar este campo</span>
                    <span *ngIf="productForm.controls['stock'].errors?.['stock']">Información invalida</span>
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button type="submit" class="btn btn-success" (click)="handleSubmit()"> <!-- [disabled]="!(productForm.valid && productForm.dirty)" -->
        {{action}}
    </button>
    <button class="btn btn-danger" type="button" mat-dialog-close>
       Cancelar
    </button>
</mat-dialog-actions>
