.suppliers-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 20px;
}

.suppliers-header-container {
    color: #551BA6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* margin-top: 30px;
    margin-bottom: 20px; */
    margin-left: 0;
    margin-right: 0;
}

.add-suppliers-button {
    margin-left: 20px;
    margin-right: 20px;

    .mat-mdc-raised-button:not(:disabled) {
        background-color: #9EC4FE;
        padding: 20px;
        float: right;
        color: #0e073e;
        border: none;
        max-width: 300px;
        margin-left: 10px;
        border-radius: 50px;
    } 
}

.suppliers-table {
    background-color: #d3d8ff;
    border-radius: 20px;
    margin-left: 0;
    margin-right: 0;
}

.table-header {
    background: rgb(51,27,140);
    background: linear-gradient(61deg, rgba(51,27,140,1) 0%, rgba(79,48,191,1) 48%, rgba(15,7,64,1) 100%);
    color: #ffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;

    h2 {
        margin-bottom: 0;
    }
}

.suppliers-table mat-card {
    background-color: transparent;
    /*  padding: 20px; */
     margin-bottom: 2rem;
}

mat-table {
    margin-top: 0;
}

.mat-mdc-table {
    background-color: transparent;
    padding: 15px;
    border-radius: 20px;
    margin-top: 0 !important;
}

.mat-elevation-z8 {
    box-shadow: none !important;
}

.mat-mdc-paginator {
    background-color: transparent !important;
}

.mat-mdc-card {
    --mdc-elevated-card-container-elevation: none !important;
}

.table-header {
    background: #192653;
    color: #ffff;
    display: flex;
    flex-direction: row;
    align-items: center;

    h2 {
        margin-bottom: 0;
    }
}

.filter{
    width: 100%;
    font-size: 18px;
}

#id-input {
    background-color: #E8EAF6;
    box-shadow: 0 2px 0 black;
}

mat-table {
    width: 100%;
}

.responsive-table {
    width: 100%;
}

th {
    width: auto;
}

/* .mat-mdc-table .mdc-data-table__row {
    height: 52px;
}
 */
tr.mat-row {
    height: 52px;

    td.mat-cell {
      padding-top: 16px;
      padding-left: 16px;
      padding-right: 16px;
      box-sizing: border-box;
      font-size: 1rem;
    }
}

.mdc-data-table__cell, .mdc-data-table__header-cell {
  padding: 16px 40px 9px 40px;
}

.mat-column-ID {
    width: 9% !important;
}

.mat-mdc-row .mat-mdc-cell {
   width: auto;

}

.mat-mdc-row:hover .mat-mdc-cell {
    background-color: #e4e4e4;
    transition: 0.3s;
}

.btn:hover {
    box-shadow: 1px 2px 5px #847878; 
    border: none;
    transition: background-color 0.5s ease;
}

.download-excel-button {
    margin-left: 1rem;
    margin-right: 1rem;
    padding: .5rem;

    button {
        border-radius: 10px;
        padding: 10px;
    }
}

.download {
    margin: auto;
    background-color: green;
    border: none;
}

input {
    background-color: #b5e8fa;
    padding: 16px 32px;
    border: none;
    display: block;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    /*font-weight: 600; */
    color: black;
    -webkit-appearance: none;
    transition: all 240ms ease-out;
    width: 100%;
    
    &::placeholder {
      color: #6d7f8f;
    }
    
    &:focus {
      outline: none;
      color: #6d7f8f;
      background-color: lighten(#e3edf7, 3%);
    }
};

/* Styles for tab labels */
.navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;

    .container-fluid {
        padding-left: 0;
    }
}

mat-paginator {
    background-color: #E8EAF6;
}

.mat-mdc-table {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}