<mat-toolbar>
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
        <span>{{dialogData.action}} Equipamiento</span>
        <span class="spacer"></span>
        <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content>
    <form [formGroup]="equipmentForm" (ngSubmit)="handleSubmit()">
        <div fxLayout="column" fxLayoutAlign="space-evenly-center">
            <mat-form-field appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput type="text" formControlName="name" required="">
                <mat-error *ngIf="equipmentForm.controls['name'].touched && equipmentForm.controls['name'].invalid">
                    <span *ngIf="equipmentForm.controls['name'].errors?.['required']">Debe rellenar este campo</span>
                    <span *ngIf="equipmentForm.controls['name'].errors?.['pattern']">Información invalida</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Categoria</mat-label>
                <mat-select formControlName="id_equipment_category">
                    <mat-option *ngFor="let category of equipmentCategories" [value]="category.name">
                        {{category.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button type="submit" class="btn btn-success" (click)="handleSubmit()"> <!-- [disabled]="!(productForm.valid && productForm.dirty)" -->
        {{action}}
    </button>
    <button class="btn btn-danger" type="button" mat-dialog-close>
       Cancelar
    </button>
</mat-dialog-actions>

