.mat-toolbar {
    margin: 24px;
    margin-bottom: 10px;
    width: auto;
    background: #29296a;
    color: #FFFF;
}
  
.mat-dialog-content {
    padding-left:1rem ;
}
  
.mat-form-field {

    padding: 1rem;
    
    input {
      color: #29296a;
    }
}
  
.btn {
    margin: 7px;
}