/*.bg {
  height: unset;
  background-image: url('~src/assets/img/background.png');
  background-size: cover;
  background-position: center center;
}*/

.bg {
  background: linear-gradient(135deg, #01403a 0%, #4f7352 70%, #b6c4b8 100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

.login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;

  width: 90%;
  max-width: 450px;
  max-height: 30rem;

  text-align: center;
  margin: auto;
  padding: 2rem;
  border-radius: 1.5rem;

  /* Glass effect */
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  /* Soft shadow */
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
  color: white;
}

/* .login form .div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
} */

.login form mat-form-field {
  width: 100%;
}

/* revisar si afecta en otras partes*/
.mat-mdc-raised-button.mat-primary {
  --mdc-protected-button-container-color: #01403a;
  --mdc-protected-button-label-text-color: #fff;
}

.mat-form-field-label {
  color: rgba(255, 255, 255, 0.7) !important;
}

.login button {
  border: none;
  width: 100%;
  padding: 0.75rem 1rem;
  font-weight: 600;
  border-radius: 0.8rem;
}

.login-title h1 {
  color: #f2f2f2;
  font-weight: bolder;
}

.login-welcome h3 {
  color: #f2f2f2;
  font-weight: lighter;
}

.new-password-section {
  color: #f2f2f2;
}

.new-password-section a:hover {
  opacity: 0.8;
  cursor: pointer;
}

.register-section a {
  color: #f2f2f2;
}

.register-section p {
  color: #f2f2f2;
  opacity: 0.8;
}

.register-section a:hover {
  opacity: 0.8;
  cursor: pointer;
}

.mat-focused .mat-form-field-required-marker {
  color: #01403a;
}
