<mat-toolbar>
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
        <span>{{dialogData.action}} Cliente </span>
        <span class="spacer"></span>
        <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content>
    <form [formGroup]="customerForm" (ngSubmit)="handleSubmit()">
        <div fxLayout="column" fxLayoutAlign="space-evenly-center">
            <mat-form-field appearance="outline">
                <mat-label>Nombres</mat-label>
                <input matInput type="text" formControlName="first_name" required="">
                <mat-error *ngIf="customerForm.controls['first_name'].touched && customerForm.controls['first_name'].invalid">
                    <span *ngIf="customerForm.controls['first_name'].errors?.['required']">Debe rellenar este campo</span>
                    <span *ngIf="customerForm.controls['first_name'].errors?.['pattern']">Información invalida</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Apellidos</mat-label>
                <input matInput type="text" formControlName="last_name" required="">
                <mat-error *ngIf="customerForm.controls['last_name'].touched && customerForm.controls['last_name'].invalid">
                    <span *ngIf="customerForm.controls['last_name'].errors?.['last_name']">Debe rellenar este campo</span>
                    <span *ngIf="customerForm.controls['last_name'].errors?.['last_name']">Información invalida</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Correo Electrónico</mat-label>
                <input matInput type="email" formControlName="email" required="" placeholder="ejemplo@gmail.com">
                <mat-error *ngIf="customerForm.controls['email'].touched && customerForm.controls['email'].invalid">
                    <span *ngIf="customerForm.controls['email'].errors?.['email']">Debe rellenar este campo</span>
                    <span *ngIf="customerForm.controls['email'].errors?.['email']">Información invalida</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Numero de contacto</mat-label>
                <input 
                matInput 
                type='text' mask="9999 9999" 
                formControlName="phone"
                placeholder="9999 9999" 
                required>
                <mat-error *ngIf="customerForm.controls['phone'].touched && customerForm.controls['phone'].invalid">
                    <span *ngIf="customerForm.controls['phone'].errors?.['required']">Debe rellenar este campo</span>
                    <span *ngIf="customerForm.controls['phone'].errors?.['pattern']">Información invalida</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Direccion</mat-label>
                <input matInput type="text" formControlName="c_address" required="">
                <mat-error *ngIf="customerForm.controls['c_address'].touched && customerForm.controls['c_address'].invalid">
                    <span *ngIf="customerForm.controls['c_address'].errors?.['c_address']">Debe rellenar este campo</span>
                    <span *ngIf="customerForm.controls['c_address'].errors?.['c_address']">Información invalida</span>
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions class="dialog-buttons" align="end">
    <button mat-raised-button class="save-button" type="submit" (click)="handleSubmit()">
        <mat-icon>save</mat-icon> {{action}}
    </button>
    <button mat-raised-button mat-dialog-close class="cancel-button" type="button" (click)="handleSubmit()">
        Cancelar
    </button>
   <!--  <button type="submit" class="btn btn-success" (click)="handleSubmit()">
        {{action}}
    </button>
    <button class="btn btn-danger" type="button" mat-dialog-close>
       Cancelar
    </button> -->
</mat-dialog-actions>
