.mat-toolbar {
    margin: 24px;
    margin-bottom: 10px;
    width: auto;
    background: #12043E;
    opacity: 0.8;;
    color: #FFFF;
    border-radius: 10px;
}
  
.mat-dialog-content {
    padding-left:1rem ;
}
  
.mat-form-field {
    padding: 1rem;
    
    input {
      color: #29296a;
    }
}
  
.btn {
    margin: 7px;
}

.dialog-buttons {
    padding-left: 24px;
    padding-right: 24px;
  }
  
  .mat-mdc-raised-button.save-button {
    background: #12043E;
    opacity: 0.8;
    color: #ffff;  
    padding: 20px;
    border: none;
    max-width: 300px;
    /* border-radius: 50px; */
  }
  
  .mat-mdc-raised-button.save-button:hover {
    opacity: 0.6;
  } 
  
  .mat-mdc-raised-button.cancel-button {
      background-color: #e23030;
      /* opacity: 0.8; */
      padding: 20px;
      color: white;
      border: none;
      max-width: 300px;
  }