.invoices-list-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 20px;
}

.invoices-header-container {
    color: #551BA6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* margin-top: 30px;
    margin-bottom: 20px; */
    margin-left: 0;
    margin-right: 0;
}

.new-invoice-button {
    margin-left: 20px;
    margin-right: 20px;

    .mat-mdc-raised-button:not(:disabled) {
        background-color: #9EC4FE;
        padding: 20px;
        float: right;
        color: #0e073e;
        border: none;
        max-width: 300px;
        margin-left: 10px;
        border-radius: 50px;
    }
}

.invoices-table {
    background-color: #d3d8ff;
    border-radius: 20px;
    margin-left: 0;
    margin-right: 0;
}

.invoices-table mat-table {
    margin-top: 0;
    background-color: transparent !important;
    /*  padding: 20px; */
     margin-bottom: 2rem;
}

.table-header {
    background: #12043E;
    opacity: 0.8;
    color: #ffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;

    h2 {
        margin-bottom: 0;
    }
}

.mat-mdc-table {
    background-color: transparent;
    padding: 15px;
    border-radius: 20px;
    margin-top: 0 !important;
}

.mat-elevation-z8 {
    box-shadow: none !important;
}
.mat-mdc-paginator {
    background-color: transparent !important;
}

.mat-mdc-card {
    background-color: transparent;
    --mdc-elevated-card-container-elevation: none !important;
}

.mat-header-cell{
    padding: 0;
}

.mat-mdc-dialog-container .mdc-dialog__surfac {
    width: 49%;
}

/* .mdc-data-table__cell, .mdc-data-table__header-cell {
    padding-bottom: 10px;
} */

.mdc-data-table__cell, .mdc-data-table__header-cell {
    padding: 20px 20px 20px 20px;
}

.mat-column-Numero-de-Factura {
    width: 15% !important;
}

.mat-column-Nombre-Cliente {
    width: 15% !important;
}

.mat-column-Tipo-de-Cliente {
    width: 15% !important;
}

.mat-column-Total {
    width: 15% !important;
}


.mat-column-Tipo-de-pago {
    width: 15% !important;
}

.mat-column-Fecha {
    width: 15% !important;
}

.mat-column-Ver-detalle {
    width: 10% !important;
}

.mat-column-Estado {
    width: 10% !important;
}

.mat-column-Eliminar {
    width: 20% !important;
    padding-left: 54px;
    padding-right: 95px;
}

tr.mat-row {
    height: 52px;
  
    td.mat-cell {
     padding-top: 10px;
      padding-left: 16px;
      padding-right: 16px;
      box-sizing: border-box;
      font-size: 1rem;
    }
}

mat-form-field {
    padding: 1rem 1rem 1rem 0rem;
}
  
.mat-mdc-row:hover .mat-mdc-cell {
    background-color: rgb(216, 216, 216);
    transition: 0.3s;
} 

.input-group {
    flex-wrap: nowrap;
    input {
        background-color: #b5e8fa;
        padding: 16px 32px;
        border: none;
        display: block;
        font-size: 16px;
        font-weight: normal;
        letter-spacing: 1px;
        font-family: 'Roboto', sans-serif;
        /*font-weight: 600; */
        color: black;
        -webkit-appearance: none;
        transition: all 240ms ease-out;
        width: 100%;
        
        &::placeholder {
          color: #6d7f8f;
        }
        
        &:focus {
          outline: none;
          color: #6d7f8f;
          background-color: lighten(#e3edf7, 3%);
        }
    };
}

#search {
    background-color: #1a1853;;
    color: white;
    padding: 1rem;
    margin-top: 25px;
    margin-bottom: auto;
}

.billState {
    padding: 10px;
    background-color: transparent;
    border: none;
    color: #178e40;
    font-weight: bold;
    margin: 10px;
}

.billState:hover {
    background-color: #E8EAF6;
}

.mat-mdc-raised-button.list-all-button {
    background: #f6b308;
    color: white;
    border-radius: 10px;
    padding: 20px;
    max-width: 300px;
}

.invoice-excel-download {
    margin: auto;
    background-color: green;
    border: none;
    border-radius: 10px;
    padding: 10px;
    max-width: 300px;
}

/* Styles for tab labels */
.navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;

    form {
        padding: 0;
    }
}

.mat-mdc-table {
   /*  margin-top: 1rem; */
    margin-bottom: 2rem;
}