.header {
    background: #192653;
    color: #ffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.mat-toolbar {
    /* margin-top: 24px; */
    //margin-bottom: 10px;
    width: auto;
   /*  max-width: 700px; */
    background: #192653;
    color: #FFFF;
}

.header-title {
    max-width: 600px;
}

.header button{
    float: right;
    color: #0e073e;
    border: none;
    max-width: 300px;
}

button .float-right {
    float: right;
}

mat-card {
    /* max-width: 500px; */
    padding: 20px;
    margin-bottom: 1rem;
}

.table-header {
    background: #192653;
    color: #ffff;
    display: flex;
    flex-direction: row;
    align-items: center;

    h2 {
        margin-bottom: 0;
    }
  /*  justify-content: space-between; */
}

mat-table {
    width: 100%;
}

.mat-header-cell{
    padding: 0;
}

.mat-mdc-dialog-container .mdc-dialog__surfac {
    width: 49%;
}

/* .mdc-data-table__cell, .mdc-data-table__header-cell {
    padding-bottom: 10px;
} */

.mdc-data-table__cell, .mdc-data-table__header-cell {
    padding: 20px 20px 20px 20px;
}

.mat-column-Numero-de-Factura {
    width: 15% !important;
}

.mat-column-Nombre-Cliente {
    width: 15% !important;
}

.mat-column-Tipo-de-Cliente {
    width: 15% !important;
}

.mat-column-Total {
    width: 15% !important;
}


.mat-column-Tipo-de-pago {
    width: 15% !important;
}

.mat-column-Fecha {
    width: 15% !important;
}

.mat-column-Ver-detalle {
    width: 10% !important;
}

.mat-column-Estado {
    width: 10% !important;
}

.mat-column-Eliminar {
    width: 20% !important;
    padding-left: 54px;
    padding-right: 95px;
}

tr.mat-row {
    height: 52px;
  
    td.mat-cell {
     padding-top: 10px;
      padding-left: 16px;
      padding-right: 16px;
      box-sizing: border-box;
      font-size: 1rem;
    }
}

mat-form-field {
    padding: 1rem 1rem 1rem 0rem;
}
  
.mat-mdc-row:hover .mat-mdc-cell {
    background-color: rgb(216, 216, 216);
    transition: 0.3s;
} 

.input-group {
    flex-wrap: nowrap;
    input {
        background-color: #b5e8fa;
        padding: 16px 32px;
        border: none;
        display: block;
        font-size: 16px;
        font-weight: normal;
        letter-spacing: 1px;
        font-family: 'Roboto', sans-serif;
        /*font-weight: 600; */
        color: black;
        -webkit-appearance: none;
        transition: all 240ms ease-out;
        width: 100%;
        
        &::placeholder {
          color: #6d7f8f;
        }
        
        &:focus {
          outline: none;
          color: #6d7f8f;
          background-color: lighten(#e3edf7, 3%);
        }
    };
}

#search {
    background-color: #1a1853;;
    color: white;
    padding: 1rem;
    margin-top: 25px;
    margin-bottom: auto;
}

.billState {
    padding: 10px;
    background-color: transparent;
    border: none;
    color: #178e40;
    font-weight: bold;
    margin: 10px;
}

.billState:hover {
    background-color: #E8EAF6;
}

.download {
    margin: auto;
    background-color: green;
    border: none;
}

/* Styles for tab labels */
.navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;

    form {
        padding: 0;
    }

    
}

.mat-mdc-table {
   /*  margin-top: 1rem; */
    margin-bottom: 2rem;
}