.mat-toolbar {
    margin: 24px;
    margin-bottom: 10px;
    width: auto;
   /*  max-width: 700px; */
    background: #29296a;
    color: #FFFF;
  }
  
.details {
    margin: 0;
    background: #a3bc44;
    color: white;
}

/* #customer {
    max-width: 700px;
} */

.download {
    margin: auto;
    background-color: green;
    border: none;
}

.btn {
    margin: 10px;
}

table {
    width: 100%;
}