.header {
    background: #192653;
    color: #ffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-title {
    max-width: 600px;
}

.header button{
    float: right;
    color: #0e073e;
    border: none;
    max-width: 300px;
}

button .float-right {
    float: right;
}

mat-card {
    /* width: 50%; */
    background-color: #E8EAF6;
    padding: 20px;
    margin-bottom: 1rem;
}

mat-card-content {
    justify-content: space-between;
}

mat-form-field {
    padding: 1rem 1rem 1rem 0rem;
}

table {
    width: 100%;
}

.table-header {
    background: #192653;
    color: #ffff;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
  /*  justify-content: space-between; */
}

.add-product-section .add{
    background-color: #9FA8DA;
    color: white;
}
 
.add-product-section .total {
    background-color: #6b7ad1;
    color: white;
    margin-left: 20px;
}