<div class="body">
    <div class="login">
        <mat-spinner *ngIf="loading" diameter="50"></mat-spinner>
        <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="login()">
            <div class="image-section">
                <img src="../../../assets/img/login.png" width="30%">
            </div>
            <h2>Iniciar sesión</h2>
            <mat-form-field appearance="fill">
                <mat-label>Nombre de usuario</mat-label>
                <input matInput autocomplete="off" formControlName="username">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" autocomplete="off" formControlName="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <button type="submit" mat-raised-button color="primary" > Ingresar</button>
        </form>
    </div>
</div>