<section>
    <mat-toolbar class="table-header">
        <mat-icon>
            <span class="material-symbols-outlined">
                person
                </span>
        </mat-icon>
        <div class="mx-2">
            <h2 class="text-uppercase">Bienvenido, {{userName}}</h2>
        </div>
    </mat-toolbar>
    <div class="d-flex flex-row-reverse my-4">
        <button mat-raised-button (click)="redirectToAddNewInvoice()">
            <mat-icon>add</mat-icon> Facturar nueva venta
        </button>
        <button mat-raised-button (click)="redirectToAddNewClient()">
            <mat-icon>add</mat-icon> Agregar nuevo cliente
        </button>
        <button mat-raised-button (click)="redirectToAddNewProduct()">
            <mat-icon>add</mat-icon> Agregar nuevo producto
        </button>
    </div>
    <div class="container p-3">
        <div class="row align-items-stretch">
            <div class="c-dashboardInfo inventory-item col-lg-3 col-md-6" (click)="redirectToProductsInventory()">
                <div class="wrap" matTooltip="Ver Inventario">
                <i class="fas fa-boxes-alt" style="font-size: 40px; margin-bottom: 1rem;"></i>
                <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">Total Productos
                    </h4><span class="hind-font caption-12 c-dashboardInfo__count">{{totalProducts}}</span>
                    
                </div>
            </div>
            <div class="c-dashboardInfo col-lg-3 col-md-6">
                <div class="wrap">
                <i class="fas fa-calendar-check" style="font-size: 40px; margin-bottom: 1rem;"></i>
                <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">Total Ventas | {{monthReturned}}</h4><span class="hind-font caption-12 c-dashboardInfo__count">{{totalSales}}</span>
                </div>
            </div>
            <div class="c-dashboardInfo col-lg-3 col-md-6">
                <div class="wrap">
                    <i class="fas fa-hands-usd" style="font-size: 40px; margin-bottom: 1rem;"></i>
                <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">Total Ingresos</h4><span class="hind-font caption-12 c-dashboardInfo__count">M./${{totalIncome}}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="container p-3 dashboard-statistics">
        <mat-card style="margin-top: 15px; margin-bottom: auto; margin-left: auto; margin-right: auto;">
            <mat-card-title style="padding: 1rem;">
                <h1>Ventas mes de {{monthReturned}}</h1>
            </mat-card-title>

            <mat-card-content>
                <form [formGroup]="monthSelect">
                    <mat-form-field appearance="outline">
                        <mat-label>Seleccionar mes</mat-label>
                        <mat-select formControlName="id_month" (selectionChange)="getMonthValues($event.value); getTotalSales($event.value); getTotalIncomeByMonth($event.value)" required>
                            <mat-option *ngFor="let month of month" [value]="month.name">
                                {{month.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </form>

                <div style="width: 100%; height: 400px;">
                    <canvas id="barChart"></canvas>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</section>
