/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* You can add global styles to this file, and also import other style files */

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    position: relative;
    font-family: 'Roboto', sans-serif;
} */

.card {
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    background-color: #fff;
    margin: 1.25rem 0 1.25rem 0;
    box-shadow: 0 .25rem .5rem #e6edef;

    .card-head {
        padding: 1rem 1.5rem;
        border-bottom: 1px solid #edf1f7;
        font-size: 1rem;
        font-weight: 600;
    }

    .card-body {
        padding: 1rem 1.5rem; 
    }
}

.green-snackbar {
    --mdc-snackbar-container-color: #4CAF50;
    .mat-simple-snackbar-action {
        color: white;
      }
}

.red-snackbar {
    max-width: max-content !important;
    color: white;
    --mdc-snackbar-container-color:  #dc3545;
    border-color: #f5c6cb;
  
    .mat-simple-snackbar-action {
      color: white;
    }
}

.red-snackbar button {
    background-color: #F44336;
    color: white !important;
    border: none;
}

/* Prevent Angular Material theme colors from showing on focus */

/* Remove theme-based color when focused */
.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #b5ffc9 !important;  /* your custom green */
  border-color: #b5ffc9 !important;
}

/* Also make sure the outline segments use your color */
.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-start,
.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-gap,
.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-end {
  border-color: #b5ffc9 !important;
}

/* Focused label color */
.mat-form-field.mat-focused .mat-form-field-label {
  color: #b5ffc9 !important;
}

/* Input caret color */
.mat-input-element {
  caret-color: #b5ffc9 !important;
}

/* Optional: disable Angular Material ripple focus highlight */
.mat-mdc-form-field-focus-overlay {
  background-color: transparent !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* body {
    margin: 0; 
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500; 
} */

@media print { html, body { height: auto; overflow-y: visible !important; } }
