<div class="bg">
    <div class="restore-password-email">
        <mat-spinner *ngIf="loading" diameter="50"></mat-spinner>
        <form *ngIf="!loading" [formGroup]="form">
            <div class="login-welcome mb-4">
                <h3 class="">Re-establecer Contraseña</h3>
            </div>
            <mat-form-field appearance="outline">
                <mat-label>Ingrese su correo electrónico</mat-label>
                <input matInput type="email" placeholder="E-mail" autocomplete="off" formControlName="email">
            </mat-form-field>
            <button type="submit" mat-raised-button color="primary" (click)="sendEmail()"> Enviar</button>
        </form>
    </div>
</div>

